{{!-- Temp Add New Topic Form --}}
 <div class="container-fluid">
    <div class="row jumbotron admin-jumbo text-center">
        <h1 class="col-12">Admin Panel<br>Get Your CRUD On</h1>
    </div>
</div>


{{!-- Open Topics --}}
<div class="container-fluid">
    <h2 class="col-12 myq-heading">Open Topics</h2>
    {{#each open}}
    <div class="row admin-open-topics">
        <h5 class="col-12 title">Topic ID:{{this.id}} - {{this.topic_title}}</h5>
        <div class="col-12 col-md-8 no-gutters">
            <p class="topic-body"><strong>Created By: </strong>User ID {{this.topic_created_by}}</p>
            <p class="topic-body"><strong>Created: </strong>{{fmtDate this.created_at}}</p>
            <p class="topic-body"><strong>Updated: </strong>{{fmtDate this.updated_at}}</p>
            <p class="col-12 topic-body"><strong>Question - </strong>{{this.topic_body}}</p>
        </div>
        <div class="col-12 col-md-4 align-middle text-center">
            <h6 class="col-12 votes text-center"><strong>Votes: {{this.topic_votes}} Interest: {{this.topic_interest}}</strong></h6>
{{!--             <button class="my-1 mx-1 col-md-10 col-12 btn details-btn" topic-id="{{this.id}}">See Details</button><br> --}}
            <a class="my-1 mx-1 col-md-10 col-12 btn details-btn" href="/details?topicId={{this.id}}" topic-id={{this.id}}>See Details</a><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-edit-btn" topic-id="{{this.id}}">Edit</button><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-delete-btn" topic-id="{{this.id}}">Delete</button>
        </div>
    </div>
    {{/each}}
</div>

{{!-- Pending Topics --}}
<div class="container-fluid">
    <h2 class="col-12 myq-heading">Pending Topics</h2>
    {{#each pending}}
    <div class="row admin-pending-topics">
        <h5 class="col-12 title">Topic ID:{{this.id}} - {{this.topic_title}}</h5>
        <div class="col-12 col-md-8 no-gutters">
            <p class="topic-body"><strong>Created By: </strong>User ID {{this.topic_created_by}}   -   <strong>Assigned To: </strong>User ID {{this.topic_assigned_to}}</p>
            <p class="topic-body"><strong>Created: </strong>{{fmtDate this.created_at}}</p>
            <p class="topic-body"><strong>Updated: </strong>{{fmtDate this.updated_at}}</p>
            <p class="col-12 topic-body"><strong>Question - </strong>{{this.topic_body}}</p>
        </div>
        <div class="col-12 col-md-4 align-middle text-center">
            <h6 class="col-12 votes text-center"><strong>Votes: {{this.topic_votes}} Interest: {{this.topic_interest}}</strong></h6>
{{!--             <button class="my-1 mx-1 col-md-10 col-12 btn details-btn" topic-id="{{this.id}}">See Details</button><br> --}}
            <a class="my-1 mx-1 col-md-10 col-12 btn details-btn" href="/details?topicId={{this.id}}" topic-id={{this.id}}>See Details</a><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-edit-btn" topic-id="{{this.id}}">Edit</button><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-delete-btn" topic-id="{{this.id}}">Delete</button>
        </div>
    </div>
    {{/each}}
</div>

{{!-- Closed Topics --}}
<div class="container-fluid">
    <h2 class="col-12 myq-heading">Closed Topics</h2>
    {{#each closed}}
    <div class="row admin-closed-topics my-4">
        <h5 class="col-12 title">Topic ID:{{this.id}} - {{this.topic_title}}</h5>
        <div class="col-12 col-md-8 no-gutters">
            <p class="topic-body"><strong>Created By: </strong>User ID {{this.topic_created_by}}   -   <strong>Assigned To: </strong>User ID {{this.topic_assigned_to}}</p>
            <p class="topic-body"><strong>Created: </strong>{{fmtDate this.created_at}}</p>
            <p class="topic-body"><strong>Updated: </strong>{{fmtDate this.updated_at}}</p>
            <p class="col-12 topic-body"><strong>Question - </strong>{{this.topic_body}}</p>
            <p class="col-12 topic-body"><strong>Answer - </strong>{{this.topic_answer}}</p>
            {{#if this.topic_answer_url}}
            <a class="topic-body mb-3" href="{{this.topic_answer_url}}" target="_blank"><strong>Helpful URL - </strong>{{this.topic_answer_url}}</a>
            {{/if}}
        </div>
        <div class="col-12 col-md-4 align-middle text-center">
            <h6 class="col-12 votes text-center"><strong>Votes: {{this.topic_votes}} Interest: {{this.topic_interest}}</strong></h6>
{{!--             <button class="my-1 mx-1 col-md-10 col-12 btn details-btn" topic-id="{{this.id}}">See Details</button><br> --}}
            <a class="my-1 mx-1 col-md-10 col-12 btn details-btn" href="/details?topicId={{this.id}}" topic-id={{this.id}}>See Details</a><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-edit-btn" topic-id="{{this.id}}">Edit</button><br>
            <button class="my-1 mx-1 col-md-10 col-12 btn admin-delete-btn" topic-id="{{this.id}}">Delete</button>
        </div>
    </div>
    {{/each}}
</div>

{{!-- 144hrz monitor hyper x cloud headseat --}}

<!-- Modal - Edit Content -->
    <div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="modal-title">Enter Updated Information</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                   <form class="col-12">
                        <div class="form-group">
                            <label for="topic_title">Title - Up To 100 Characters</label>
                            <input type="text" class="form-control" id="topic_title" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="topic_video">YouTube Link</label>
                            <input type="text" class="form-control" id="topic_video" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="topic_answer_url">Useful Link</label>
                            <input type="text" class="form-control" id="topic_answer_url" placeholder="">
                        </div>
                        <div class="form-group">
                            <label for="topic_body">Question Description - Up To 250 Characters</label>
                            <textarea type="text" rows="5" class="form-control" id="topic_body" placeholder=""></textarea>
                        </div>
                        <div class="form-group">
                            <label for="topic_answer">Answer</label>
                            <textarea type="text" rows="5" class="form-control" id="topic_answer" placeholder=""></textarea>
                        </div>
                    </form> 
                </div>
                <div class="modal-footer">
                    <span id="error-txt"></span>
                    <span id="yt-error-txt"></span>
                    <button type="submit" class="btn btn-block" id="update-topic-btn">Update</button> 
                    <button type="close" class="btn btn-block" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>