
{{!-- Splash Area --}}
<div class="container-fluid splash">
    <div class="row text-center">
        <h1 class="col-12">Agile Flow</h1>
        <h2 class="col-12">Accelerate Your Learning With An Agile Group</h2>
        <h3 class="col-12">Save Time & Stop Searching</h3>
    </div>

    <div class="row-fluid no-gutters text-center d-flex justify-content-around icon-row">
        <div class="col-md-2 icon-box">
            <div class="icon">
                <i class="fas fa-fire"></i>
            </div>
            <p class="icon-text">Ask Burning<br>Questions</p> 
        </div>

        <div class="col-md-2 icon-box">
            <div class="icon">
                <i class="fas fa-video"></i>
            </div>
            <p class="icon-text">Get Short<br>Video Answers</p>
        </div>

        <div class="col-md-2 icon-box">
            <div class="icon">
                <i class="fas fa-heart"></i>
            </div>
            <p class="icon-text">Find Popular<br>Topics</p>
        </div>
        
        <div class="col-md-2 icon-box">
            <div class="icon">
                <i class="far fa-thumbs-up"></i>
            </div>
            <p class="icon-text">Vote For<br>Favorites</p>
        </div>
    </div iv>
</div>

 
    <h2 class="col-12 myq-heading" id="open-topics">Open & Pending Questions</h2>
    <div class="container">
        <div class="row justify-content-around">
            {{#each openAndPending}}
            <div class="card questionCards col-md-2 {{this.topic_state}}">
                <h5 class="card-title">{{this.topic_title}}</h5>
                <h6 class="question-state">Question Status: {{this.topic_state}}</h6>
                <h6 class="total-votes">Total Interest: {{this.topic_interest}}</h6>
                {{!-- <h5>My Interest:
                <span id="user-interest-{{this.id}}">Not Interested</span>
                </h5> --}}
                <button class="btn btn-block interest-btn" topic-id={{this.id}} id="interest-btn-{{this.id}}" interest-state="false">Vote</button>
                {{!-- <div id="target"></div> --}}
                {{!-- <button class="btn btn-block details-btn" topic-id={{this.id}}>See Details</button> --}}
                <a class="btn btn-block details-btn" href="/details?topicId={{this.id}}" topic-id={{this.id}}>See Details</a>
                <button class="btn btn-block claim-btn" status={{this.topic_state}} topic-id={{this.id}}>Claim Topic</button>
            </div>
            {{/each}}
        </div>
    </div>

   

    <h2 class="col-12 myq-heading" id="closed-topics">Answers</h2>
    <div class="container">
        <div class="row text-center justify-content-around">  
        {{#each closed}}
            <div class="card answerCards my-3 col-md-4">
                <iframe class="card-img-top card-video" src={{this.topic_video}} alt="Video For Topic"></iframe>
                <div class="card-body">
                    <h5 class="card-title">{{this.topic_title}}</h5>
                    <h6 class="total-votes">Total Votes: {{this.topic_votes}}
                    {{!-- <span id="vote-text-{{this.id}}">I Did Not Vote</span> --}}
                    </h6>
                    <div class="align-bottom">
                        {{!-- <button class="btn btn-block details-btn" topic-id={{this.id}}>See Details</button> --}}
                        <a class="btn btn-block details-btn" href="/details?topicId={{this.id}}" topic-id={{this.id}}>See Details</a>
                        <button class="btn btn-block vote-btn" id="vote-btn-{{this.id}}" topic-id={{this.id}} vote-state="false">Vote</button>
                    </div>
                </div>
            </div>
        {{/each}}
        </div>
    </div>
    

  

